EXPO_PUBLIC_SUPABASE_URL="https://tsudewdbtaaauomuwnqa.supabase.co"
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_cMDU53hX6KXqcjQIOOrB4g_VyHHJX72"

# Si tu proyecto todavía usa la clave legacy "anon", también puedes usar:
# EXPO_PUBLIC_SUPABASE_ANON_KEY=TU_ANON_KEY
